.container{
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form{
    display: flex;
    flex-direction: column;
    width: 40rem;
    text-align: center;
    padding: 1rem;  
}

.inputs{
    padding: 1.2rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(77, 77, 77, 0.5);
    border: 2px solid rgba(42, 42, 42, 0.5);
    outline: none;
    margin-bottom: 1.4rem;
}

.inputs:focus{
    border-color: rgb(74, 74, 253);
    box-shadow: 0 0 1rem rgba(41, 30, 243, 0.3);
}

button{
    padding: 1rem 4rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    transition: 0.4s;
    background-color: rgb(74, 74, 253);
    transition: 0.8s;
}

button:hover{
    background-color: rgb(29, 29, 244);
    color: white;
}

.erro{
    font-size: 2rem;
    font-weight: bold;
}

header{
    width: 100%;
    background-color: rgb(74, 74, 253);
    padding: 1.6rem;
}

.name-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: white;
    margin-left: 8rem;
}

img{
    width: 25rem;
}

.img-container{
    display: flex;
    justify-content: center;
}

.camp{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.camp-text{
    position: absolute;
    top: .5rem;
    left: 1rem;
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}

.loading{
    font-size: 2rem;
    font-weight: bold;
}
