.nav-cad-ger{
    width: 100%;
    padding: 1.6rem 2rem;
    background-color: rgb(74, 74, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-cad-ger i{
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.nav-cad-items{
    display: flex;
    gap: 2rem;
}

.Links-nav{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 0 3rem;
    border-bottom: 3px solid transparent; 
}

.Links-nav:active{
    color: white;
    
    border-bottom: 3px solid #ffc107;
}

