.teste000{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    padding: 1rem 3rem ;
    font-size: 2rem;
    color: white;
}