.nav-cad-ger{
    width: 100%;
    padding: 1.6rem 2rem;
    background-color: rgb(74, 74, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-cad-ger i{
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.nav-cad-items{
    display: flex;
    gap: 2rem;
}

.Links-nav{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 3rem; 
    position: relative;  
    display: inline-block;
    transition: color 0.3s ease;
}

.Links-nav::after {
    content: '';
    position: absolute;
    left: 50%;            
    bottom: 0;
    width: 0;             
    height: 3px;          
    background-color: #fff; 
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%); 
    border-radius: 5px;
}

.Links-nav.active::after,
.Links-nav:hover::after {
    width: 70%;          
    background-color: #00d4ff;
}


.Links-nav.active {
    color: #00d4ff;
}