.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topo-project {
    width: 100%;
    padding: 1.6rem 2rem;
    background-color: rgb(74, 74, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-topo {
    font-size: 2.6rem;
    font-weight: 600;
    color: white;
    margin-left: 8rem;
}

.topo-project i {
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.exit{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #333;
    font-size: 2.4rem;
    color: white;
    padding: 1rem 3rem;
    border-radius: 5px;
}



.sidebar {
    background-color: #202c38;
    color:  #d1d9e6;
    width: 5.5rem;     
    padding: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3rem;
    transition: 0.3s ease-in-out;
}

.sidebar:hover {
    width: 25rem;
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.4); 
}

.name-topo {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
    opacity: 0; 
    transition: opacity 0.3s ease 0.1s; 
    white-space: nowrap; 
    position: relative; 
}

.sidebar:hover .name-topo {
    opacity: 1;
}

.name-topo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; 
    width: 0;
    background-color:  rgb(74, 74, 253); 
    transition: width 0.4s ease-out, opacity 0.3s ease;
}

.sidebar:hover .name-topo::after {
    width: 100%; 
    opacity: 1;
    transition-delay: 0.1s; 
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 1rem 0.5rem;
    color:#d1d9e6;
    border-radius: .8rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-bottom: 0;
    margin-bottom: 1.8rem;
}

.nav-item i {
    font-size: 2.2rem; 
    width: 3rem; 
    text-align: center;
    color:   rgb(74, 74, 253); 
    transition: color 0.3s ease;
}

.nav-item:hover {
    background:  #2c3e50;
    color: #fff;
    transform: translateX(5px); 
}

.nav-item:hover i {
    font-size: 2rem;
    color: #fff;
}

.nav-text {
    font-size: 1.8rem;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease 0.1s; 
}

.sidebar:hover .nav-text {
    opacity: 1;
}