.main-container{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    min-width: 25rem;
    background-color: #333;
    color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
